@import url(https://fonts.googleapis.com/css?family=Signika|Pacifico);

body {
  background: #ede9de;
  font-family: 'Signika', sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-family: 'Pacifico';
  font-size: 7vw;
}
