@import "fonts";

$primary: #3D2F53;
$secondary: #624B86;

$background: $primary;
$bloodOrange: #DA4843;
$blue: #35BCE0;
$cream: #F5F0E1;
$dark: #35323A;
$light: #7B7486;
$lighter: #C1B5D3;
$navBar: darken($primary, 5%);
$whiteish: #DFE6E9;

body {
  background: $primary;
  color: $whiteish;
  font-family: 'Pier Sans', sans-serif;
  font-size: 1.5rem;
  padding: 1rem 1.3rem;
}

h1 {
  .pacifico {
    font-family: 'Pacifico';
  }
  font-size: 6vw;
}

input {
  font-size: 12pt;
  padding: 10px;
  margin: 10px;
  width: 125px;
}

.operator {
  text-align: center;
  width: 20px;
}

.result {
  color: $bloodOrange;
  margin-left: 0.5em;
  width: 25px;
}

.centered {
  text-align: center;
}

.content-section {
  padding: 1rem 1.5rem;
}

.category-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
